[Desktop Entry]
Encoding=UTF-8
Name=FitMc
GenericName=FitMc
Version=2.5-1
Terminal=false
Type=Application
StartupNotify=true
Icon=fitmc
Comment=Run Technic-Launcher in a thin enviroment
Exec=fitmc
Categories=GNOME;GTK;Application;Game;

Actions=Nominimal;

[Desktop Action Nominimal]
Name=Start FitMc Without Changing Window Manager
Exec=fitmc nocwm
OnlyShowIn=Unity;
