[Desktop Entry]
Encoding=UTF-8
Name=FitMc
GenericName=FitMc
Version=1.9-3
Terminal=false
Type=Application
StartupNotify=true
Icon=fitmc
Comment=Run Technic-Launcher in a thin enviroment
Exec=/usr/bin/fitmc
Categories=GNOME;GTK;Application;Game;
