[Desktop Entry]
Encoding=UTF-8
Name=Uninstall FitMc
GenericName=Uninstall FitMc
Version=1.0
Terminal=false
Type=Application
StartupNotify=true
Icon=fitmc
Comment=Uninstall FitMc
Exec=/usr/bin/fitmc-uninstaller
Categories=GNOME;GTK;Application;Game;
