Package: FitMc
Version: 1.4
Section: Games
Priority: optional
Architecture: all
Depends: xfwm4,wmctrl,openjdk-7-jre,xterm
Suggests:
Maintainer: Xorrito Del Bosque <xorrito@azloco.com>
Installed-size: 144
Homepage: xorrito.info
Description: Run Technic-Launcher in a thin environment.
